body {
  margin:0;
  padding: 0;
  font-family: "Helvetica Neue", Helvetica, Arial, "Trebuchet MS", Futura;
  background: hsl(130, 100%, 95%);
}

header {
  text-transform: uppercase;
  padding: 10px 0;
  font-size: 12px;
  margin: 20px auto;
  width: 600px;
  border-bottom: solid 1px rgba(0, 0, 0, 0.3);
  color: #999;
}

header .stepper {
  float: right;
}

.main {
  margin:20px auto;
  width:600px;
}

h1 {
  font-family: Georgia;
  font-size: 50px;
  font-weight: normal;
  margin: 30px 0 20px;
}

h2 {
  border-top: solid 1px rgba(0, 0, 0, 0.2);
  font-family: Georgia;
  font-size: 24px;
  font-weight: normal;
  margin: 30px 0 20px;
  padding: 20px 0 0 0;
}

h3 {
  border-top: solid 1px rgba(0, 0, 0, 0.15);
  font-family: Georgia;
  font-size: 24px;
  font-weight: normal;
  margin: 30px 0 20px;
  padding: 20px 0 0 0;

}

h4 {
  font-size: 15px;
  margin: 10px 0;
}

h5 {
  font-weight:normal;
  text-transform:uppercase;
  font-size:11px;
}

p {
  font-family: Georgia;
  color: #444;
  font-size: 17px;
  margin-top:6px;
  line-height: 1.5em;
}

a {
  color: #004276;
}