<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>{{ page.title }}</title>
        <meta name="viewport" content="width=device-width">

        <!-- syntax highlighting CSS -->
        <link rel="stylesheet" href="{{ site.url }}/assets/base.css">
        <link rel="stylesheet" href="{{ site.url }}/assets/syntax.css">

        <!-- Custom CSS -->
        <!-- <link rel="stylesheet" href="{{ site.url }}/assets/main.css"> -->
    </head>
    <body>
        <div class="main">

            {{ content }}

        </div> <!-- /main -->

        <script src="{{ site.url }}/assets/d3.v3.min.js" charset="utf-8"></script>
        <script src="{{ site.url }}/assets/base.js" charset="utf-8"></script>

    </body>
</html>
